{% extends "base.html" %}
{% load static %}

{% block title %} 
All My Products
{% endblock %} 

{% block css_files %}
  <link rel="stylesheet" href="{% static "store/product.css" %}" />
  <link rel="stylesheet" href="{% static "store/all_products.css" %}" />
  <link rel="stylesheet" href="{% static "store/index.css" %}" />
{% endblock %}



{% block content %}


<section id="all-products">
  <h2>My Collected products</h2>

  <ul>
    {% for product in all_products %}
      {% include "store/includes/product.html" %}
    {% endfor %}
  </ul>
</section>
{% endblock %}