{% extends "base.html" %} 
{% load static %} 

{% block title %} 
{{ product.title }}
{% endblock %} 

{% block css_files %} 
<link rel="stylesheet" href="{% static "store/product_detail.css" %}" />
<link rel="stylesheet" href="{% static "store/index.css" %}" /> 
{% endblock %} 

{% block content %}
<section id="summary">
  <h2>{{ product.title }}</h2>
  <article class = "product">
    <img src={{product.image.url}}/>
    <p> Price: P{{ product.price }} </p>
    <div>
      <p>Available:
        {% if product.availability == True %} Yes {% endif %}
        {% if product.availability == False %} No {% endif %}
      </p>
    </div>
    <div><button>Add to Cart</button></div>
  </article>
</section>

<main>
  <p>
    {{ product.description }}
  </p>
</main>
{% endblock %}