{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static "members/index.css" %}" />
{% endblock %}

{% block content %}



{% comment %} 
<header id="main-navigation">
    <h1><a href="">My Store</a></h1>
    <nav>
      <a href="">All Products</a>
    </nav>
  </header> 
{% endcomment %}

<section id="welcome_top">
</section>

  <h1>Login</h1>
  <br/><br/>

<div class="container">
    {% if messages %}
        {% for message in messages %}
            
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
        {% endfor %}
    {% endif %}

</div>


<form action = "" method = POST>
    {% csrf_token %}

<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter username">

    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="password" placeholder="Password">
    </div>

            <input type="submit" value="Submit" class="btn btn-secondary">

 </form>

</body>
{% endblock %}